@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero-ring {
    @apply absolute inset-0  border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-[#00FFFF]/5 shadow-[0_0_80px_inset] shadow-[#00FFFF]/5;
  }

  .carousel .control-dots {
    display: none;
  }

  .carousel.carousel-slider .control-arrow {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel .control-next.control-arrow {
    right: 20px;
  }

  .carousel .control-prev.control-arrow {
    left: 20px;
  }

  .carousel .control-arrow:before {
    border-width: 8px;
  }

  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}
